/*#B3848F
#E7DAE2
*/

@font-face {
    font-family: 'Utah Condensed Bold'; 
    src: url("Utah Condensed Bold\Utah Condensed Bold.ttf") format('c:\Users\hibaz\AppData\Local\Temp\Rar$DRa17420.43223\Utah Condensed Bold\Utah Condensed Bold.ttf'); /* Replace with the actual path to your font file */
  }
  #logo{
    height: var(--logo-size)
  }
  
  
   /*
   body {
    font-family: 'Utah Condensed Bold' /* Use the name you defined in @font-face 
  }
  * {
    box-sizing: border-box;
  }
  #kylielips{
    
    background-image: url('c:\Users\hibaz\Desktop\Pair-Project-of-Girl\photos make up\PLP-Imagery_Cosmetics_Lips_Desktop_MCP_opt-2.webp')
  }
 
 <img id="kylielips" src="c:\Users\hibaz\Desktop\Pair-Project-of-Girl\photos make up\PLP-Imagery_Cosmetics_Lips_Desktop_MCP_opt-2.webp">
body {
    background-image: url("c:\Users\hibaz\Desktop\Pair-Project-of-Girl\photos make up\PLP-Imagery_Cosmetics_Lips_Desktop_MCP_opt-2.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% ;
  }
  #kylielips{
    background-position: center;
}
  */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    background-image: url('c:\Users\hibaz\Desktop\Pair-Project-of-Girl\photos make up\PLP-Imagery_Cosmetics_Lips_Desktop_MCP_opt-2.webp');
    background-size: cover;
    background-position: center;
    
    height: 100%;
    /* Additional styles for your content */
}


:root {
    --main-color: #C4C4C4;
    --body-bg: #E7DAE2;
    --second-bg: #f5f5f5;
    --text-color: #757575;
    --text-white: #ffffff;
    --text-gray: #868686;
    --main-hover: #9b2d25;

    --section-space: 100px;
    --nav-size: 70px;
    --logo-size: 45px;
    --banner-height: 400px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Antonio", sans-serif;
    background-color: var(--body-bg);
    padding-top: var(--nav-size);
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
    display: inline-block;
}
.slide-img-col {
    position: relative;
    background-color: var(--second-bg);
}

.slide-img-wrapper {
    display: grid;
    height: 100%;
    place-items: center;
}

.slide-img {
    --size: 700px;
    height: var(--size);
    width: var(--size);
    overflow: hidden;
}

.slide-img img {
    max-width: 100%;
    height: 100%;
}


.main-color {
    color: var(--main-color);
}

.text-gray {
    color: var(--text-gray);
}

.container-fluid {
    padding: 0 30px;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color:#F5F5F5 ;
}

.nav {
    position: relative;
    height: var(--nav-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: var(--logo-size);
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-menu li ~ li {
    margin-left: 20px;
}

.nav-menu li a {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    color: var(--main-color);
}

.menu-main {
    position: absolute;
    left: 0;
    width: 100%;
    justify-content: center;
    height: var(--nav-size);
    pointer-events: none;
}

.menu-main li a {
    pointer-events: visible;
}

.hero-section {
    height: calc(100vh - var(--nav-size));
}

.hero-section .row,
.hero-section .col-4,
.hero-section .col-8 {
    height: 100%;
}