/*#B3848F
#E7DAE2
*/

@font-face {
    font-family: 'Utah Condensed Bold'; 
    src: url("Utah Condensed Bold\Utah Condensed Bold.ttf") format('c:\Users\hibaz\AppData\Local\Temp\Rar$DRa17420.43223\Utah Condensed Bold\Utah Condensed Bold.ttf'); /* Replace with the actual path to your font file */
  }
  #logo{
    height: var(--logo-size)
  }
  
  body {
    font-family: 'Utah Condensed Bold' /* Use the name you defined in @font-face */
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%; 
    min-height: 50%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  
:root {
    --main-color: #C4C4C4;
    --body-bg: #EFD7E5;
    --second-bg: #f5f5f5;
    --text-color: #757575;
    --text-white: #ffffff;
    --text-gray: #868686;
    --main-hover: #9b2d25;

    --section-space: 100px;
    --nav-size: 70px;
    --logo-size: 45px;
    --banner-height: 400px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Antonio", sans-serif;
    background-color: var(--body-bg);
    padding-top: var(--nav-size);
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
    display: inline-block;
}

.main-color {
    color: var(--main-color);
}

.text-gray {
    color: var(--text-gray);
}

.container-fluid {
    padding: 0 30px;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color:#F5F5F5 ;
}

.nav {
    position: relative;
    height: var(--nav-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: var(--logo-size);
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-menu li ~ li {
    margin-left: 20px;
}

.nav-menu li a {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    color: var(--main-color);
}

.menu-main {
    position: absolute;
    left: 0;
    width: 100%;
    justify-content: center;
    height: var(--nav-size);
    pointer-events: none;
}

.menu-main li a {
    pointer-events: visible;
}

.hero-section {
    height: calc(100vh - var(--nav-size));
}

.hero-section .row,
.hero-section .col-4,
.hero-section .col-8 {
    height: 100%;
}